@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
:root{
    --title: #f8c27a;
    --texShadow: 0 2px 2px rgba(0,0,0, .7);
    --boxShadow: 0 0px 10px rgba(0,0,0, .2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.container{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: var(--boxShadow);
}
#box-jeu{
    display: none;
}
#box-jeu-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#box-jeu-div-div{
    margin-bottom: 25px;
}
#choix{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
#liste-nombre{
    margin-top: 30px;
}
h1{
    font-family: 'Luckiest Guy', cursive;
    margin-bottom: 15px;
    color: #ffc31d;
    text-shadow: var(--texShadow);
    display: inline-block;
    font-size: 1.3rem;
}
p, .vies, label, button, input{
    font-size: 0.7rem;
}
.vies{
    margin: 10px;
}
h2{
    font-family: 'Luckiest Guy', cursive;
    margin-bottom: 15px;
    color: #ffc31d;
    text-shadow: var(--texShadow);
    display: inline-block;
    font-size: 1.3rem;
}
h3{
    font-family: 'Luckiest Guy', cursive;
    color: #ffc31d;
    display: inline-block;
    font-size: 1.1rem;
    margin-bottom: 15px;
}
h4{
    font-family: 'Luckiest Guy', cursive;
    color: #ffc31d;
    font-size: 1rem;
    margin-bottom: 10px;
}
#span-facile, #span-moyen, #span-difficile{
    padding: 3px 20px;
    border-radius: 5px;
    display: none;
    font-size: 0.7rem;
}
#span-facile{
    background-color: blue;
    color: white;
}
#span-moyen{
    background-color: orange;
    color: white;
}
#span-difficile{
    background-color: red;
    color: white;
}
#div-difficulte{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* ----------------permet de styliser les icones prises sur ionicons------------------------  */
/* ------------ATTENTION ca ecrit en bleu mais ce n'est pas une erreur et ce n'est pas une classe----------- */
ion-icon{
    font-size: 25px;
    /* ------------fill permet de changer les couleurs car on prend le plein----------- */
    fill: red;
}
#inputBox{
    border-color: #96e6a1;
    padding: 15px 0 0 0;
    border-radius: 5px;
}
#inputBox > label{
    display: block;
    margin-bottom: 10px;
}
input, button{
    /* ---on enleve la bordure et la surbordure mises par default--- */
    outline: none;
    border: none;
    padding: 3px 20px;
    border-radius: 5px;

}
button{
    background-color: teal;
    color: #ffffff;
    /* -------transforme le curseur en main------------ */
    cursor: pointer;
    transition: all 0.2s;
}
button:hover{
    transform: translateY(-2px);
    background-color: rgb(0, 184,184);
}
#message{
    margin: 20px auto 0 auto;
}
#rejouerBtn{
    display: none;
    margin: 5px auto 0 auto;
}
#details{
    font-weight: bold;
    font-size: 0.5rem;
    margin-top: 5px;
    margin-bottom: 15px;
}
/* ---------------------------media querry--------------------------- */
@media(min-width: 768px){
    ion-icon{
        font-size: 50px;
    }
    h1{
        font-size: 1.9rem;
        margin-bottom: 30px;
    }
    p, .vies, label, button, input{
        font-size: 1.2rem;
    }
    #span-facile, #span-moyen, #span-difficile{
        font-size: 1.2rem;
    }
    #details{
        font-size: 0.7rem;
    }
    h2{
        font-size: 1.9rem;
        margin-bottom: 30px;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.3rem;
    }
}
@media(min-width: 992px){
    #box-jeu-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #box-jeu-div-div{
        margin-right: 25px;
    }
}
@media(min-width: 1400px){
    .container{
        padding: 50px;
    }
    ion-icon{
        font-size: 60px;
        margin-top: 10px;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 2.2rem;
    }
    h4{
        font-size: 1.9rem;
    }
    p, .vies, label, button, input{
        font-size: 1.5rem;
    }
    #span-facile, #span-moyen, #span-difficile{
        font-size: 1.5rem;
    }
    #details{
        font-size: 0.9rem;
        margin-bottom: 20px;
    }
    input, button{
        margin-top: 15px;
    }
    #message{
        margin-bottom: 15px;
    }
}